.siglaCatalog {
  margin-top: 20%;
  margin-left: 20%;
}

.siglaQuery {
  display:inline-block;
}

.siglaQueryInput {
  display:inline-block;
}

.siglaQuerySelect {
  display:inline-block;
}

.siglaQuerySubmit {
  color: red;
  display:inline-block;
}

.siglaResultSize {
  display: none;
  margin-top: 20px;
}

.siglaResultTables {
  margin-top: 20px;
}

.queryTerm {
  font-weight: bold;
}

.resultItem {
  position: relative;
  display: block;
  color: black;
  background-color: #efefef;
  height: 32px;
  padding: 4px;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

.itemSigla {
  color: #005091;
  font-weight: normal;
}
