.siglaCatalog {
  margin-top: 20%;
  margin-left: 20%;
}

.siglaQuery {
  display:inline-block;
}

.siglaQueryInput {
  display:inline-block;
}

.siglaQuerySelect {
  display:inline-block;
}

.siglaQuerySubmit {
  color: red;
  display:inline-block;
}

.siglaResultSize {
  margin-top: 20px;
}

.siglaResultTables {
  margin-top: 20px;
}

.queryTerm {

  font-weight: bold;
}
